node_modules
npm-debug.log
.husky
.env
README.md
/decision-log
/event-storming
coverage/
test/
/dist
/docs
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
.cache
.eslintignore
.eslintrc
.prettierignore
.prettierrc
